<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB3PjlKg-1BvjwSn_kxezNex2hPWsVIahI</string>
	<key>GCM_SENDER_ID</key>
	<string>268860683923</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.rickshaw2.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>rickshaw2</string>
	<key>STORAGE_BUCKET</key>
	<string>rickshaw2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:268860683923:ios:b025a678f001c92b25bf66</string>
</dict>
</plist>